{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "importOrder": [
        "^(@/theme)|(@stitches/react(/.*|))$",
        "^(react|next)(/.*|)$",
        "^(@/commons)((/.*|))$",
        "^(@/components/)(ui|layout)((/.*|))$",
        "^(@/components)((/.*|))$",
        "^(@/data)((/.*|))$",
        "^(@)((/.*|))$",
        ".*"
    ],
    "importOrderSeparation": true,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
