{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "importOrder": ["^(react|next)(\/.*|)$", "^types$", "^components(\/.*|)$", "^commons(\/.*|)$", "^.*(?<!\\.css)$", "^.*?\\.css$"],
  "importOrderSeparation": true,
  "quoteProps": "preserve",
  "arrowParens": "avoid"
}