<!DOCTYPE html>
<html lang="en">
{{ $message := (printf "A %v y/o aspiring Software Engineer" .Config.Me.Age) }}
<head>
    <title>Home | Hexiro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <!-- Meta -->
    <meta name="description" content={{printf "Hi, I'm Hexiro, %v" $message}}>
    {{template "html/snippets/meta" .}}
</head>
<body>
{{ $outer := . }}
    <main>

        <!-- left side of the website -->
        <div class="left">
            <div class="intro">
                <h1>Hi! I'm <span class="main-accent font-weight-400">Hexiro</span>,</h1>
                <h2>{{$message}}</h2>
            </div>
        </div>
        <!-- Right side of website -->
        <div class="right">
            <!-- Projects list -->
            <div class="projects">
                <!-- Am I supposed to do $_ like this? -->
                {{ range $_, $project := .Projects }}
                <div class="projects-item transition">
                    <div class="projects-container">
                        <div class="project-title main-color">
                            <a href="{{$project.HtmlUrl}}" rel="noreferer" target="_blank">
                                {{if (eq $project.Owner.Login $outer.Config.Me.Github)}}
                                    <h3>{{$project.Name}}</h3>
                                {{else}}
                                    <h3><span class="main-accent">{{$project.Owner.Login}}/</span>{{$project.Name}}</h3>
                                {{end}}
                            </a>
                        </div>
                        {{if $project.Fork}}
                            <div class="fork">
                                forked from <a href={{$project.Parent.HtmlUrl}}>{{$project.Parent.FullName}}</a>
                            </div>
                        {{end}}
                        <p>{{$project.Description}}</p>
                        <div class="projects-footer">
                            <div class="project-language">
                                <span>{{$project.Language}}</span>
                            </div>
                            {{if (gt $project.StargazersCount 0)}}
                                <div class="project-detail">
                                    {{template "svg/assets/star"}}
                                    <span class="margin-left-2px">{{$project.StargazersCount}}</span>
                                </div>
                            {{end}}
                            {{if (gt $project.NetworkCount 0)}}
                                 <div class="project-detail">
                                    {{template "svg/assets/network"}}
                                    <span class="margin-left-2px">{{$project.NetworkCount}}</span>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>
    <footer>
        <!-- Social Media section -->
        <ul class="social-media">
            <li class="social-item">
                <a href={{.Config.Me.TwitterLink}} rel="noreferrer" target="_blank">
                    {{template "svg/socials/twitter"}}
                </a>
            </li>
            <li class="social-item">
                <a href={{.Config.Me.GithubLink}} rel="noreferrer" target="_blank">
                    <!-- GitHub logo -->
                    {{template "svg/socials/github"}}
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>