@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: "0.35em";
        height: "0.35em";
    }
    ::-webkit-scrollbar-track {
        box-shadow: "inset 0 0 6px rgba(0, 0, 0, 0.3)";
    }
    ::-webkit-scrollbar-thumb {
        background-color: "rgba(0, 0, 0, 0.35)";
    }

    * {
        @apply uppercase;
    }

    body {
        @apply font-sans;
    }

    li,
    a,
    p {
        @apply font-extrabold;
        @apply font-mono;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans;
    }

    h1,
    h2,
    h3 {
        @apply text-green;
    }

    h4,
    h5,
    h6 {
        @apply text-off-white;
    }

    h2,
    h3,
    h4 {
        @apply font-extrabold;
    }

    h1 {
        @apply text-7xl;
        @apply font-black;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-[28px];
    }

    svg {
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    p {
        @apply text-text
    }
}
