main {
    display: flex;
    align-content: center;
    min-height: 100vh;
    height: 100%;
}

.left,
.right {
    display: flex;
    flex: 1;
    align-items: center;
}

.right {
    justify-content: center;
    margin: 20px 0;
}

.intro {
    margin-left: 30px;
    min-height: 115px;
    position: relative;
    /* transform makes it so the vertical centering is centered around the description line */
    /* instead of around the whole div */
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
}

.project-title {
    padding-top: 10px;
}

.projects-item:hover {
    transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    -moz-transition: ease all 0.35s;
    -ms-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    transform: translateX(-2.5%) translateY(-2.5%);
}

.projects-item {
    position: relative;
    min-width: 530px;
    max-width: 630px;
    background: var(--background-accent);
    padding: 4px 20px;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.25);
    height: 220px;
    margin-bottom: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.projects-item:last-child {
    margin-bottom: 0;
}

.projects-container p {
    padding-bottom: 10px;
}

.projects-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
}

.projects-footer h4 {
    margin-left: 2px;
    line-height: 33px;
}

.projects-footer svg {
    height: 18px;
    width: 18px;
}

.project-detail {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-left-2px {
    margin-left: 2px;
}

.project-language {
    margin-right: 20px;
}

.fork {
    font-style: italic;
    font-size: 1em;
}

footer {
    margin: -16vh 0 10px 20px;
}

.social-item {
    margin-right: 11px;
    height: 25px;
    display: inline-block;
}

.social-item:last-child {
    margin-right: unset;
}

.lanyard {
    display: flex;
    padding: 20px;
    background: var(--background-accent);
    height: 130px;
    width: 350px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}

.lanyard-text {
    position: relative;
    padding-left: 20px;
    width: 220px;
}

.lanyard-text * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lanyard-text h5 {
    line-height: 1.2em;
}

.lanyard-images {
    position: relative;
}

.large-image {
    height: 90px;
    width: 90px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0 0px 10px rgb(0 0 0 / 25%);
    box-shadow: 0 0px 10px rgb(0 0 0 / 25%);
}

.small-image {
    height: 30px;
    width: 30px;
    border: var(--main-accent) 2px solid;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    left: 67px;
}

.song-details {
    position: absolute;
    bottom: 0;
    width: 200px;
}

.song-outer-bar {
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color);
}

.song-inner-bar {
    background-color: var(--text-color);
    height: 100%;
}

.song-text {
    position: relative;
}

.song-text h6 {
    padding-bottom: 1px;
}

.song-end-text {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1250px) {
    main {
        padding-top: 125px;
        display: block;
        min-height: 90vh;
    }

    footer {
        margin: -6vh 0 10px 20px;
        transition: ease all 0.235s;
        -webkit-transition: ease all 0.235s;
        -moz-transition: ease all 0.235s;
        -ms-transition: ease all 0.235s;
        -o-transition: ease all 0.235s;
        will-change: transform;
    }

    .left,
    .right {
        display: block;
        text-align: center;
    }

    .right {
        margin: 0;
    }

    .intro {
        margin-left: unset;
    }

    .intro h2 {
        font-size: 1.5em;
        padding: 0 5px;
    }

    p {
        margin-bottom: 20px;
        cursor: text;
        user-select: initial;
    }

    .projects {
        display: block;
    }

    .projects-item {
        display: block;
        margin: 25px auto;
        width: 90%;
        min-width: 300px;
        max-width: 540px;
        height: auto;
        cursor: initial;
    }

    .projects-item:hover {
        transition: ease all 0.235s;
        -webkit-transition: ease all 0.235s;
        -moz-transition: ease all 0.235s;
        -ms-transition: ease all 0.235s;
        -o-transition: ease all 0.235s;
        transform: translateY(-4.5%);
        will-change: transform;
    }

    .projects-title {
        display: block;
        margin-bottom: 25px;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .projects-footer {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    footer {
        opacity: 0;
    }
}
