main {
    display: flex;
    align-content: center;
    min-height: 100vh;
    height: 100%;
}

.left,
.right {
    display: flex;
    flex: 1;
    align-items: center;
}

.right {
    justify-content: center;
    margin: 20px 0;
}

.intro {
    line-height: 3em;
    margin-left: 30px;
    min-height: 115px;
    position: relative;
    /* transform makes it so the vertical centering is centered around the description line */
    /* instead of around the whole div */
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}

.project-title {
    padding-top: 10px;
    word-break: break-word;
}

.project-title h3 a {
    opacity: 1;
}

.projects-item {
    position: relative;
    min-width: 530px;
    max-width: 630px;
    background: var(--background-accent);
    padding: 4px 20px;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.25);
    height: 220px;
    margin: 25px 0;
    border-radius: 10px;
    transition: ease-out all 0.31s;
    will-change: transform;
}

.projects-item:hover {
    transform: scale(1.04);
}

.projects-container p {
    padding-bottom: 10px;
}

.projects-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6px;
}

.projects-footer h4 {
    margin-left: 2px;
    line-height: 33px;
}

.projects-footer svg {
    height: 18px;
    width: 18px;
}

.project-detail {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-left-2px {
    margin-left: 2px;
}

.project-language {
    margin-right: 20px;
}

.fork {
    font-style: italic;
    font-size: 1em;
}

footer {
    margin: -16vh 0 10px 20px;
}

.socials {
    margin-top: 10px;
}

.social-item {
    margin-right: 30px;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.socials-items:last-child > .social-item {
    margin-right: unset;
}

/* so it doesn't offset other things */
.socials,
.lanyard {
    position: absolute;
}

.lanyard {
    overflow: hidden;
    display: flex;
    padding: 20px 0 20px 20px;
    background: var(--background-accent);
    height: 130px;
    width: 350px;
    margin: 32vh 0 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}
/* 135 */

.lanyard-text {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 40%;
    line-height: 25px;
    padding: 0 6.245%;
    text-align: left;
}

.lanyard-text * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lanyard-text h5 {
    line-height: 17px;
}

.lanyard-images {
    position: relative;
}

.lanyard-song-bar {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0 -20px;
    width: 100%;
}

.large-image {
    position: relative;
}

.large-image img {
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0 0px 10px rgb(0 0 0 / 25%);
    box-shadow: 0 0px 10px rgb(0 0 0 / 25%);
}

.small-image {
    position: absolute;
    right: -7px;
    bottom: -7px;
}

.small-image img {
    display: block;
    height: 30px;
    width: 30px;
    border: var(--main-accent) 2px solid;
    border-radius: 50%;
}

.song-outer-bar {
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color);
}

.song-inner-bar {
    background-color: var(--text-color);
    height: 100%;
}

.song-text {
    position: relative;
}

.song-text h6 {
    margin-bottom: -1px;
}

.song-end-text {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1250px) {
    main {
        padding-top: 125px;
        display: block;
        min-height: 84vh;
    }

    footer {
        position: unset;
        margin: 0 0 20px 20px;
    }

    .left,
    .right {
        display: block;
        text-align: center;
    }

    .right {
        margin: 0;
    }

    .intro {
        margin-left: unset;
    }

    .intro h2 {
        font-size: 1.5em;
        padding: 0 5px;
    }

    .socials {
        position: unset;
    }

    p {
        margin-bottom: 20px;
        cursor: text;
        user-select: initial;
    }

    .projects {
        display: block;
    }

    .projects-item {
        display: block;
        margin: 12.5px auto;
        width: 90%;
        min-width: unset;
        max-width: 540px;
        height: auto;
        cursor: initial;
    }

    .projects-title {
        display: block;
        margin-bottom: 25px;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .projects-footer {
        display: none;
    }

    .lanyard {
        position: relative;
        margin: 5px auto;
        max-width: 350px;
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .lanyard {
        display: none;
    }
}
